h2{
    width:400px;
    background-color:whitesmoke;
    border-left:solid red 5px;
    padding-left:1em;
    padding-top:5px;
    padding-bottom:5px;

    margin:25px;


}

form{
    width:350px;
    background-color:whitesmoke;
    border:3px solid lightgray;
    padding:1em;

    margin:25px;
    border-radius:10px;

}

.submit{
    border:2px solid darkgray;
    color:white;
    background-color:gray;
    border-radius:5px;
    font-weight: 600;
    font-size:15px;

}
